* {
  margin: 0;
  padding: 0;
}

/** STYLES **/
:root {
  --primary-black-color: #000000;
  --primary-grey-color: #535461;
  --primary-navy-color: #2F2E41;

  --secondry-white-color: #EEEEEE;
  --secondry-green-color: #4DB6AC;
  --secondry-blue-color: #3A3768;

  --text-default-color: #4A4A4A;
  --text-link-color: #9B9B9B;
}

h1 {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-weight: 200;
  line-height: 1.5em;
  color: var(--text-default-color);
  margin-bottom: 1rem;
}

h2 {
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: bold;
  line-height: 1.5em;
  color: var(--text-default-color);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h3 {
  font-family: "Apple Gothic";
  font-size: 1.15rem;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 2px;
  color: var(--text-default-color);
  margin-bottom: 1rem;
}

h4 {
  font-family: "Apple Gothic";
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 1.68px;
  color: var(--text-default-color);
  margin-bottom: 0.5rem;
}

body {
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  color: var(--text-default-color);
  margin-bottom: 0.5rem;
  min-height: 100%;
}

body em {
  font-style: italic;
}

a {
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  color: var(--text-link-color);
  margin-bottom: 0.5rem;
  text-decoration: none;
}

label {
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1.125rem;
  color: var(--text-link-color);
  margin-bottom: 0.5rem;
}


/** GRID **/
.container {
  display: grid;
  height: 100vh;
  grid-column-gap: 24px;
  grid-template-rows: 120px auto 80px;
  justify-content: center;
}

section {
  margin-bottom: 60px;
}

/** HTML ELEMENTS **/

header {
  grid-row: 1 / 1;
  grid-column: 1 / 5;
  margin-bottom: 24px;
  text-align: center;
}

nav a {
  margin-left: 12px;
  margin-right: 12px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

a:hover {
  color: var(--secondry-green-color);
}

a:active {
  color: var(--secondry-green-color);
}

.image-container {
  display: flex;
  justify-content: center;
}

img {
  opacity: 0.95;
  transform: scale(0.90);
  transition: transform 0.5s, opacity 0.5s;
}

img:hover {
  opacity: 1;
  transform: scale(1);
}

ul {
  margin-left: 24px;
  margin-bottom: 24px;
}

.contents {
  grid-row: 2 / 2;
}

footer {
  grid-row: 3 / 3;
  text-align: center;
}

footer a {
  margin-right: 36px;
}


/** MOBILE **/
header {
  grid-row: 1 / 1;
  grid-column: 1 / 5;
}

.container {
  grid-template-columns: repeat(4, 70px);
}

.contents {
  grid-column: 1 / 5;
  grid-row: 2 / 2;
}

.item {
  margin-bottom: 1.5rem;
}

footer {
  grid-column: 1 / 5;
  grid-row: 3 / 3;
}


/** TABLET **/
@media (min-width: 640px) {

  header {
    grid-column: 1 / 7;
  }

  .container {
    grid-template-columns: repeat(6, 83px);
  }

  .contents, footer {
    grid-column: 1 / 7;
  }
}

/** DESKTOP **/
@media (min-width: 1024px) {

  header {
    grid-column: 3 / 11;
  }

  .container {
    grid-template-columns: repeat(12, 60px);
  }

  .contents, footer {
    grid-column: 3 / 11;
  }

}

/** Scroll Effect **/
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/** Social Media Icons **/
.social  {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.twitter-icon:hover {
  color: #55acee;
}

.github-icon:hover {
  color: #333333;
}

.linkedin-icon:hover {
  color: #0077b5;
}

.xing-icon:hover {
  color: #026466;
}
