* {
  margin: 0;
  padding: 0;
}

/** STYLES **/
:root {
  --primary-black-color: #000000;
  --primary-grey-color: #535461;
  --primary-navy-color: #2F2E41;

  --secondry-white-color: #EEEEEE;
  --secondry-green-color: #4DB6AC;
  --secondry-blue-color: #3A3768;

  --text-default-color: #4A4A4A;
  --text-link-color: #9B9B9B;
}

h1 {
  font-family: "Roboto";
  font-size: 30px;
  font-style: light;
  font-weight: 400;
  line-height: 35px;
  color: var(--text-default-color);
  margin-bottom: 8px;
}

h2 {
  font-family: "Open Sans";
  font-size: 20px;
  font-style: bold;
  font-weight: 800;
  line-height: 27px;
  color: var(--text-default-color);
  margin-bottom: 8px;
}

h3 {
  font-family: "Apple Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2px;
  color: var(--text-default-color);
  margin-bottom: 8px;
}

h4 {
  font-family: "Apple Gothic";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1.68px;
  color: var(--text-default-color);
  margin-bottom: 8px;
}

body {
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: var(--text-default-color);
  margin-bottom: 8px;
}

body em {
  font-style: italic;
}

a {
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: var(--text-link-color);
}

label {
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: var(--text-link-color);
}


/** GRID **/
.container {
  display: grid;
  grid-column-gap: 24px;
  grid-template-rows: 56px auto 80px;
}

.item {
  margin-bottom: 60px;
}

/** HTML ELEMENTS **/

header {
  grid-row: 1 / 1;
}

nav {
  grid-row: 1 / 1;
}

nav a {

}

img {
  width: 100%;
}

.contents {
  grid-row: 2 / 2;
}

footer {
  grid-row: 3 / 3;
}


/** MOBILE **/
@media (max-width: 375px) {

  header {
    grid-column: 1 / 2;
  }

  nav-bar {
    grid-column: 2 / 4;
  }

  .container {
    grid-template-columns: repeat(4, 70px);
  }

  .contents, footer {
    grid-column: 1 / 4;
  }
}


/** TABLET **/
@media (min-width: 640px) {

  header {
    grid-column: 2 / 3;
  }

  nav-bar {
    grid-column: 3 / 6;
  }

  .container {
    grid-template-columns: repeat(6, 83px);
  }

  .contents, footer {
    grid-column: 2 / 6;
  }
}

/** DESKTOP **/
@media (min-width: 1024px) {

  header {
    grid-column: 4 / 5;
  }

  nav-bar {
    grid-column: 5 / 9;
  }

  .container {
    grid-template-columns: repeat(12, 60px);
  }

  .contents, footer {
    grid-column: 4 / 9;
  }
}